.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .actions-buttons-container {
    display: flex;
    gap: 10px;
  }
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.no-data {
  text-align: center;
  padding: 2rem;
  color: #666;
  font-size: 1.1rem;
}

.mat-column-name {
  min-width: 240px;
}

.mat-column-description {
  min-width: 300px;
}

.mat-column-price {
  min-width: 60px;
}

.mat-column-stock {
  min-width: 60px;
}